### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete = pd.DataFrame(school_data_complete)
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# School and student dataset header information
#school_data.columns
student_data.columns
#school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [4]:
# Generate list of requirements
school_data = pd.DataFrame(school_data)
count1 = school_data['school_name'].count()
print(f"The total number of schools is: {count1}")

student_data = pd.DataFrame(student_data)
count2 = student_data['Student ID'].count()
print(f"The total number of students is: {count2}")

count3 = school_data['budget'].sum()
print(f"The total budget is: {count3}")

count4 = student_data['math_score'].median()
print(f"The average math score is: {count4} ")

count5 = student_data['reading_score'].median()
print(f"The average reading score is: {count5} ")

The total number of schools is: 15
The total number of students is: 39170
The total budget is: 24649428
The average math score is: 79.0
The average reading score is: 82.0

In [5]:
student_data = pd.DataFrame(student_data)
df1_math70 = student_data[student_data['math_score'] >= 70]
df1_math70_percentage = round((df1_math70['Student ID'].count()/student_data['Student ID'].count())*100,2)
print(f"The percentage of students with a passing math score (70 or greater) is: {df1_math70_percentage} ")

The percentage of students with a passing math score (70 or greater) is: 74.98

In [6]:
df2_read70 = student_data[student_data['reading_score'] >= 70]
df2_read70_percentage = round((df2_read70['Student ID'].count()/student_data['Student ID'].count())*100,2)
print(f"The percentage of students with a passing math score (70 or greater) is: {df2_read70_percentage} ")

The percentage of students with a passing math score (70 or greater) is: 85.81

In [7]:
df3_math70_read70 = student_data[(student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70) ]
df3_math70_read70_percentage = round((df3_math70_read70['Student ID'].count()/student_data['Student ID'].count())*100,2)
print(f"The the the percentage of students who passed math and reading (% Overall Passing) is: {df3_math70_read70_percentage} ")

The the the percentage of students who passed math and reading (% Overall Passing) is: 65.17

In [8]:
df_distric_summary = pd.DataFrame(
    {'Total Schools': [count1],
     'Total Students': [count2],
     'Total Budget' : [count3],
     'Average Math Score':[count4],
     'Average Reading Score':[count5],
     '% Passing Math': [df1_math70_percentage],
     '% Passing Reading':[df1_math70_percentage],
     '% Overall Passing':[df1_math70_percentage]
    }
)     
df_distric_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,79.0,82.0,74.98,74.98,74.98

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [9]:
# the orginial dataset values
#school_data_complete.columns
#school_data_complete.groupby('school_name').groups.keys()
#school_data_complete['school_name'].nunique()
#school_data_complete['Student ID'].nunique()

In [10]:
# extract columns to generate total count and average calculation
columns_1 = ['school_name','type','Student ID', 'student_name',
       'reading_score', 'math_score', 'budget']
df_1 = school_data_complete.loc[:,columns_1]
df_1

,school_name,type,Student ID,student_name,reading_score,math_score,budget
0,Huang High School,District,0,Paul Bradley,66,79,1910635
1,Huang High School,District,1,Victor Smith,94,61,1910635
2,Huang High School,District,2,Kevin Rodriguez,90,60,1910635
3,Huang High School,District,3,Dr. Richard Scott,67,58,1910635
4,Huang High School,District,4,Bonnie Ray,97,84,1910635
...,...,...,...,...,...,...,...
39165,Thomas High School,Charter,39165,Donna Howard,99,90,1043130
39166,Thomas High School,Charter,39166,Dawn Bell,95,70,1043130
39167,Thomas High School,Charter,39167,Rebecca Tanner,73,84,1043130
39168,Thomas High School,Charter,39168,Desiree Kidd,99,90,1043130
39169,Thomas High School,Charter,39169,Carolyn Jackson,95,75,1043130

In [ ]:
#method 1 - merge three data tables to one dataframe
# 1) count of total student
#student = df_1.groupby(['school_name','type'])['student_name'].count()
# 2) average math score
#avg_math = df_1.groupby(['school_name','type'])['math_score'].mean()
# 3) average reading score
#avg_reading = df_1.groupby(['school_name','type'])['reading_score'].mean()
# 4) average budget per student
#budget = (df_1.groupby(['school_name','type'])['budget'].sum())/(df_1.groupby(['school_name','type'])['budget'].count())
# 5) merge four data sets above to one dataframe

In [ ]:
# merge three tables above
#pd.merge(pd.merge(student,avg_math))

In [17]:
# method - use groupby and aggregate 
student = df_1.groupby(['school_name','type']).agg(['count','mean','sum'])
student.columns

MultiIndex([(   'Student ID', 'count'),
            (   'Student ID',  'mean'),
            (   'Student ID',   'sum'),
            ('reading_score', 'count'),
            ('reading_score',  'mean'),
            ('reading_score',   'sum'),
            (   'math_score', 'count'),
            (   'math_score',  'mean'),
            (   'math_score',   'sum'),
            (       'budget', 'count'),
            (       'budget',  'mean'),
            (       'budget',   'sum')],
           )

In [16]:
column2 = [(   'Student ID', 'count'),
            ('reading_score',  'mean'),
            (   'math_score',  'mean'),
            (       'budget',  'sum')]
student = student.loc[:,column2]
student

                               Student ID reading_score math_score     budget
                                    count          mean       mean       mean
school_name           type
Bailey High School    District       4976     81.033963  77.048432  3124928.0
Cabrera High School   Charter        1858     83.975780  83.061895  1081356.0
Figueroa High School  District       2949     81.158020  76.711767  1884411.0
Ford High School      District       2739     80.746258  77.102592  1763916.0
Griffin High School   Charter        1468     83.816757  83.351499   917500.0
Hernandez High School District       4635     80.934412  77.289752  3022020.0
Holden High School    Charter         427     83.814988  83.803279   248087.0
Huang High School     District       2917     81.182722  76.629414  1910635.0
Johnson High School   District       4761     80.966394  77.072464  3094650.0
Pena High School      Charter         962     84.044699  83.839917   585858.0
Rodriguez High School District       3999     80.744686  76.842711  2547363.0
Shelton High School   Charter        1761     83.725724  83.359455  1056600.0
Thomas High School    Charter        1635     83.848930  83.418349  1043130.0
Wilson High School    Charter        2283     83.989488  83.274201  1319574.0
Wright High School    Charter        1800     83.955000  83.682222  1049400.0

In [ ]:
column3 = [(   'Student ID', 'count'):('','Total Student'),
            ('reading_score',  'mean'):('','Average Reading Score'),
            (   'math_score',  'mean'),('','Average Math Score'),
            (       'budget',  'sum'),('','Total Budget'),
            ()]

In [ ]:
#rename column
  rename(columns = {((   'math_score',  'mean'):'Average Math Score')})

In [ ]:
# method 1 - statistics of students by school, type and average score in math and reading
#school_data_complete.groupby(['school_name','type']).describe()
#df_1.groupby(['school_name','type']).agg(['count','mean','sum'])
#df_1.columns.levels[0:2]

# method 2 
#student = df_1.groupby(['school_name','type']).agg(['count','mean'])
#student = student.loc(:,[('','school_name'),('','type'),('Student ID','count')])
#math_reading = df_1.groupby(['school_name','type'])['reading_score','math_score'].agg(['mean'])
#budget = df_1.groupby(['school_name','type'])['Student ID'].sum()

In [19]:
budget_per_student = student[(       'budget',  'sum')]/student[(   'Student ID', 'count')]
budget_per_student

school_name            type
Bailey High School     District    3124928.0
Cabrera High School    Charter     1081356.0
Figueroa High School   District    1884411.0
Ford High School       District    1763916.0
Griffin High School    Charter      917500.0
Hernandez High School  District    3022020.0
Holden High School     Charter      248087.0
Huang High School      District    1910635.0
Johnson High School    District    3094650.0
Pena High School       Charter      585858.0
Rodriguez High School  District    2547363.0
Shelton High School    Charter     1056600.0
Thomas High School     Charter     1043130.0
Wilson High School     Charter     1319574.0
Wright High School     Charter     1049400.0
dtype: float64

In [ ]:
#columns = [('Student ID','count'),('reading_score','mean'),('math_score','mean'),('budget','mean'),('budget','sum')]
columns = ['school_name','type','Student ID','reading_score','math_score','budget']
df_1.loc(:,columns)

In [ ]:
#df_1 = df_1.columns.set_levels(['Total count','Average','Total sum'],level=1,inplace=True)
#df_1
#df_1.rename(columns = {})
#math_reading = school_data_complete.groupby(['school_name','type'])[['math_score','reading_score']].agg(['median'])
#math_reading.columns
#math_reading = math_reading.rename(columns={""})
#budget = school_data_complete.groupby(['school_name','type'])[[[['Student ID','budget','math_score','reading_score']]]].agg(['count','median'])

In [ ]:
#math_reading.rename(columns = {(('math_score', 'median'):(' ','Average Math Score')),(('reading_score', 'median'):(' ', 'Average Reading Score'))})
#math_reading.rename(columns = {('math_score', 'median'):(' ','Average Math Score')})
math_reading.rename(columns = {('median':'Average Math Score')})
math_reading

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type